/*Galeria
---------------------------------------------------------------------------------------------------------------------------------*/

#galeria-principal {
	display:block;
	font-family: Helvetica;
	position: relative;
	margin-top: 45px;	
	width:100%;
}

#img-principal {
	display: block;
	background-size: 130%;
	background-position: center-top;
	background-repeat: no-repeat;
	position:relative;
	height:450px;
	transition:all .5s ease;
}

#img-principal:hover {
	background-size:100%;
}

#img-principal:hover .descripcion {
	height: 100px;
	opacity:1;
}

/*Descripciones
----------------------------------*/

.titulo-descripcion {
	position:absolute;
	width:30%;
	background-color: rgba(0,0,0,0.8);
	color:#f1f1f1;
	margin-left: 10%;
	border-radius:0 0 20px 20px;
	padding:10px;
}

.titulo-descripcion h2, .titulo-descripcion span {
	margin-left: 15%;
}


.descripcion {
	position:absolute;
	bottom:0;
	background-color: rgba(0,0,0,0.6);
	color:#f1f1f1;
	width:50%;
	height:0;
	padding:20px;
	opacity:0;
	transition:0.5s ease;
	border-radius:20px 20px 0 0;
	right:0;

}

.descripcion p {
	padding:0 7px;
}

/*Imagenes de abajo (indice?)
------------------------------*/

.demo {
	position:relative;
	width:100%;
	height: 100px;
	background-color: black;
}

.demo ul {	
	position:relative;
	display:block;
	margin-left:2.5%;

}

.demo ul li{
	display:block;
	float: left;
}

.demo-columna {
	display:block;

}

.demo-img {
	opacity:0.5;
	height: 150px;
	transition: 0.5s;
	position: relative;
	height:100px;
	width:160px;

}

.demo-img:hover {
	opacity:1;
}

.demo-img:hover #img-principal {
	animation-name: fade;
	animation-duration: 0.5s;
}

@keyframes fade {
	from {opacity:0.5;}
	to {opacity:1;}
}

/*Barra Lateral
----------------------------------------------------------------------------------------------------------------------------------*/

.barra-lateral {
	display:block;
	position:relative;
	background-color: black;
	float: right;	
	height: 80%;
	width: 25%;
	bottom:0;
	/*right:0;*/
	border-radius: 10px 0 0 10px;
}

.cat-barra {
	position:absolute;
	width:300px;
	height:50px;
	background-color: blue;
	border-radius: 5px 0 0 5px;
	right:-100px;
	transition: 1s;
}

.cat-barra .text-cat {
	left:-60px;
	color:white;
	float:left;
	margin-left:15px;
}

.cat-barra i {
	color:white;
	float: left;
	font-size: 50px;
	transition:.8s;
	margin-left: 5px;
}

.cat-desc {
	color:white;
	float:left;
	margin-left:25px;
	opacity:0;
	transition:1s;
}

.cat-barra:hover {
	right:0;
	height:90px;
}

.cat-barra:hover i {
	font-size:80px;
}

.cat-barra:hover .cat-desc {
	opacity: 1;
}

#cat-peliculas {
	background-color:#003326;
	top:20px;
}

#cat-series {
	background-color:#004d39;
	top:120px; 
}

#cat-musica {
	background-color:#00664d;
	top:220px; 
}

#cat-posts {
	background-color:#008060;
	top: 320px; 
}

#cat-libros {
	background-color:#009973;
	top:420px; 
}